{% extends "base.html" %}

{% block body %}

<table class="table table-striped">
<thead>
    <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Username</th>
        <th>Roles</th>
        <th>OTP Status</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for user in users_list %}
    {% if 'superadmin' not in user.roles %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        {% if 'admin' in user.roles %}
            <td>Admin</td>
        {% else %}
            <td>User</td>
        {% endif %}

        <td>{{ user.otp_enabled }}</td>

        <td><a href="/update_user/{{user.id}}" class="btn btn-warning">Update</a></td>
        
        <td>
            <form action="{{url_for('delete_user', userid=user.id)}}" method="POST">

                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#myModal_{{user.id}}">
                    Delete
                </button>

                <!-- The Modal -->
                <div class="modal" id="myModal_{{user.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Confirmation</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Are you sure you want to delete {{user.email}}?
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <input type="submit" value="Delete" class="btn btn-danger">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>


{% endblock %}

