{% extends "base.html" %}
{% block title %}Greengo | Home{% endblock %}

{% block body %}
{% from "includes/_formHelper.html" import render_field %}

<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="card">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Verify OTP</h1>
            <form action="" method="POST" class="needs-validation" novalidate="" autocomplete="off">
              <div class="d-flex align-items-center">
                <img id="logo-main" src="{{ url_for('static',filename='/totp/totp.png') }}" width="200" draggable="false">
              </div>

              <div class="mb-3">
                {{ render_field(form.otp, class="form-control") }}
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary ms-auto">
                  Verify
                </button>
              </div>      
            </form>
          </div>   
      </div>
    </div>
  </div>
</section>
{% endblock %}